/* @import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap'); */

:root {
	--main-color: #0065fc;
	--main-bg-color: #f2f2f2;
	--filter-bg-color: #deebff;
}

body {
	font-family: 'Raleway', sans-serif;
	margin: 0px;
	padding: 0px;
	padding-top: 25px;
}
section,
aside,
footer {
	padding: 15px;
}

footer,
aside {
	background-color: var(--main-bg-color);
}

.blue-icone {
	color: var(--main-color);
}
.gray-icone {
	color: #d9d9d9;
}

a {
	padding: 0px;
	text-decoration: none;
	font-size: 16px;
}

.fs-18 {
	font-size: 18px;
}

ul {
	list-style: none;
	padding: 0px;
	margin: 0px;
}

a {
	color: black;
}

h1 {
	font-size: 25px;
}

h2 {
	font-size: 22px;
}

h3 {
	font-size: 18px;
	margin: 0px;
}

h4 {
	font-size: 16px;
	margin: 0px;
}

p {
	font-size: 14px;
}

.img-size {
	width: 100%;
	height: 125px;
	border-radius: 20px 20px 0px 0px;
	object-fit: cover;
	object-position: center;
}

/* btn research à la racine et caché (hidden)*/
.search-bar-research {
    background-color: var(--main-color);
    border: none;
    color: white;
    padding: 15px;
    border-radius: 15px;
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.1);
    display: none;
}

/* Mobile  */
@media (min-width: 375px) {
	/* header */

	.bar-nav {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 20px;
	}

	.logo-booki {
		width: 60px;
		height: 19px;
	}

	.btn-nav {
		text-align: center;
		width: 100%;
		font-size: 18px;
		display: flex;
		justify-content: space-around;
	}

	.btn-nav-a {
		border-bottom: #f2f2f2 solid 2px;
		padding-bottom: 10px;
		width: 50%;
	}
	.btn-nav-a:hover {
		color: var(--main-color);
		border-bottom: var(--main-color) solid 2px;
	}

	/* Section en-tête */

	.search-bar {
		display: flex;
		justify-content: center;
		margin-top: 20px;
	}

	.component-bar {
		display: flex;
		align-items: center;
		border: none;
		background-color: white;
		border-radius: 15px;
		overflow: visible;
		box-shadow: inset 0 0 0 1px #f2f2f2;
	}

	.localisation-bar-i {
		background-color: #f2f2f2;
		padding: 15px;
		border-radius: 15px 0 0 15px;
		display: flex;
		align-items: center;
		justify-content: center;
	}

	.input-search-bar {
		border: none;
		padding-left: 10px;
		font-weight: 700;
		font-size: 16px;
	}

	.search-bar-i {
		background-color: var(--main-color);
		border: none;
		color: white;
		padding: 15px;
		border-radius: 15px;
		box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.1);
	}

	.search-bar-i i {
		font-size: 16px;
	}
	.btn-filters-flex {
		display: grid;
		grid-template-columns: 1fr 1fr;
		gap: 2.5vh;
		padding-bottom: 20px;
	}
	.btn-filters-radius {
		padding: 15px 0px 15px 0px;
		border-radius: 25px;
		border: #d9d9d9 1px solid;
		background-color: #fff;
		font-weight: bold;
		font-size: 16px;
	}
	.btn-filters-radius:hover {
		background-color: #deebff;
	}

	.blue-icone-padding {
		padding-right: 5px;
	}

	.info-filters {
		display: flex;
		align-items: center;
	}
	.info-filters p {
		padding: 0px 0px 0px 10px;
	}

	.info-icon {
		border: solid 1px;
		border-radius: 50%;
		padding: 5px;
		color: var(--main-color);
		border-color: lightgray;
	}

	.a-bold {
		padding-bottom: 50px;
		font-weight: bold;
	}
	/* <!-- Les plus populaires --> */

	.populaires-icone {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	.flex-populaires-card {
		height: 146px;
		display: flex;
		border-radius: 25px;
		padding: 5px;
		box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.1);
	}

	.img-size-populaires {
		width: 110px;
		height: 100%;
		padding-right: 7px;
		border-radius: 20px 0px 0px 20px;
		object-fit: cover;
		object-position: center;
	}
	.text-stars-populaires {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}

	/* Section Hebergemenents*/
	.space-gap-mobile {
		display: flex;
		flex-direction: column;
		row-gap: 15px;
	}

	.space-gap {
		display: flex;
		flex-direction: column;
		row-gap: 15px;
	}

	.hebergements-and-populaires {
		border-radius: 25px;
		box-sizing: border-box;
		padding: 5px;
		box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.1);
	}
}

/* section Activités à Marseille */
.boxshadow-Marseille {
	border-radius: 25px;
	box-sizing: border-box;
	box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.1);
}
.p-h3-marseille {
	padding: 18px;
}
.space-bottom {
	padding-bottom: 50px;
}

/* section-footer */

.space-gap-footer {
	display: flex;
	flex-direction: column;
	row-gap: 50px;
	padding-top: 10px;
}
.space-gap-list-footer {
	display: flex;
	flex-direction: column;
	row-gap: 10px;
}

/* Tablette  */
@media (min-width: 1024px) {
	body {
		padding: 0;
	}
	main {
		margin: 0;
		padding-left: 30px;
		padding-right: 30px;
	}

	.bg-gray {
		background-color: var(--main-bg-color);
		margin-bottom: 35px;
		border-radius: 25px;
	}

	.bar-nav {
		display: flex;
		flex-direction: row;
		align-items: center;
	}

	.btn-nav {
		text-align: center;
		width: 100%;
		font-size: 18px;
		display: flex;
		justify-content: end;
		gap: 50px;
	}

	.btn-nav-a {
		border-bottom: 0;
		border-top: #f2f2f2 solid 2px;
		padding: 20px 0px;
		width: auto;
	}
	.btn-nav-a:hover {
		border-bottom: 0;
		border-top: var(--main-color) solid 2px;
	}
	.search-bar {
		display: flex;
		justify-content: start;
		margin-top: 20px;
		padding-bottom: 15px;
		padding-top: 15px;
	}
	.btn-filters-flex {
		display: flex;
		justify-content: start;
		padding-bottom: 15px;
		gap: 20px;
	}
	.btn-filters-radius {
		padding: 15px;
		border-radius: 25px;
		border: #d9d9d9 1px solid;
		background-color: #fff;
		font-weight: bold;
	}
	.btn-filters-radius:hover {
		background-color: #deebff;
	}

	.info-icon {
		border: solid 1px;
		border-radius: 50%;
		padding: 5px;
		color: var(--main-color);
		border-color: lightgray;
	}

	.hebergements-and-populaires {
		width: 280px;
	}

	.space-gap {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		padding-bottom: 15px;
	}

	.flex-populaires-card {
		width: 280px;
	}
	.text-stars-populaires {
		padding-left: 10px;
		padding-top: 10px;
	}

	.boxshadow-Marseille {
		width: 194px;
	}
	/* Activités à Marseille  */
	.img-container {
		height: 270px;
	}
	.p-h3-marseille {
		height: 38px;
		display: flex;
		align-items: center;
	}
	.img-size-container {
		width: 100%;
		height: 100%;
		border-radius: 20px 20px 0px 0px;
		object-fit: cover;
		object-position: center;
	}
	/* Footer  */
	.space-gap-footer-tablette {
		display: flex;
		flex-direction: row;
		justify-content: flex-start;
		gap: 150px;
		padding-top: 10px;
	}
	.space-gap-list-footer-tablette {
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		row-gap: 15px;
	}
	.bg-gray-footer {
		background-color: var(--main-bg-color);
		margin-bottom: 0px;
		border-radius: 0px;
	}
}

/* Desktop  */
@media (min-width: 1440px) {

    /* <!-- Section en-tête --> */
    .search-bar-research {
        display: block;
        border-radius: 0px 15px 15px 0px;
        font-weight: 700;
    }

    /* btn search icone caché */
    .search-bar-i {
        display: none;
    }

    .btn-desktop{
        display: flex;
        margin-top: 20px;
        gap: 15px; /* space between filtres and buttons */
    }

    .hebergements-populaires-container {
        display: flex;
        justify-content: space-between;
    }


    .column-populaire {
        display: flex;
        flex-direction: column;
    }

    .space-gap {
        gap: 25px;
    }

    .flex-populaires-card {
        width: 370px;
    }
    
    .boxshadow-Marseille {
        width: 298px;
    }

    .img-container {
        height: 380px;
    }

    .space-gap-footer {
        gap: 20%;
    }
}
/* Large Desktop  */
@media (min-width: 1900px) {
    main {
        width: 1440px;
        margin: auto;
    }

    .space-gap-mobile {
        padding-left:20px;
        padding-right: 20px;
    }

    .column-populaire {
        padding-left: 20px;
        padding-right: 20px;
    }

    .populaires-icone {
        padding-left: 20px;
        padding-right: 20px;
    }
}
