@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');



body, a {
	font-family: 'Raleway' sans-serif;
    text-decoration: none;
}

.img-size{
    width: 50px;
}

/* Mobile  */
@media (min-width: 375px) {
main{ 
    border: solid red;
    padding: 1rem 
}

    .bar-nav{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    .logo-booki {
		width: 60px;
        height: 19px
	}

    .btn-nav{
        width: 100%;
        font-size: 18px;
        display: flex;
        justify-content: space-around;
        align-items: center;
       
      
    }
}

/* Tablette  */
@media (min-width: 1024px) {
}

/* Desktop  */
@media (min-width: 1440px) {
}

/* Large Desktop  */
@media (min-width: 1900px) {
}
