

body {
	font-family: 'Raleway', sans-serif;
	margin: 0;
	padding: 0;
}

nav {
	display: flex; /* Alignement horizontal du logo et du menu */
	justify-content: space-between; /* Espace entre logo et liens */
	align-items: center; /* Centrage vertical */
	padding: 20px 40px; /* Espacement intérieur */
}

.Logo-Booki {
	width: 121px; /* Largeur du logo */
	height: 79px; /* Hauteur du logo */
	margin-top: 108px; /* Distance depuis le haut */
	margin-left: 48px; /* Distance depuis la gauche */
	display: block; /* Permet aux marges de fonctionner correctement */
}
